In [1232]:
import pandas as pd
import numpy as np

In [1233]:
people = {
    "first": ['Phuc', 'Dung', 'Ngoc'],
    "last": ['Nguyen', 'Nguyen', 'Tran'],
    "email": ['Nowendwar@gmail.com', 'dunG.nguyen@gmail.com', 'ngoc.tran@gmail.com'],
}

In [1234]:
people['email']

['Nowendwar@gmail.com', 'dunG.nguyen@gmail.com', 'ngoc.tran@gmail.com']

In [1235]:
df = pd.DataFrame(people)

In [1236]:
df

  first    last                  email
0  Phuc  Nguyen    Nowendwar@gmail.com
1  Dung  Nguyen  dunG.nguyen@gmail.com
2  Ngoc    Tran    ngoc.tran@gmail.com

In [1237]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [1238]:
df.iloc[[0,2], 2]

0    Nowendwar@gmail.com
2    ngoc.tran@gmail.com
Name: email, dtype: object

In [1239]:
df.loc[[0,2], ['first', 'email']]

  first                email
0  Phuc  Nowendwar@gmail.com
2  Ngoc  ngoc.tran@gmail.com

In [1240]:
df.iloc[1]

first                     Dung
last                    Nguyen
email    dunG.nguyen@gmail.com
Name: 1, dtype: object

In [1241]:
filt = (df['last'] == 'Nguyen') | (df['first'] == 'Phuc')
filt

0     True
1     True
2    False
dtype: bool

In [1242]:
df.loc[~filt, 'email']

2    ngoc.tran@gmail.com
Name: email, dtype: object

In [1243]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [1244]:
df.columns = [ 'first_name', 'last_name', 'email']

In [1245]:
df

  first_name last_name                  email
0       Phuc    Nguyen    Nowendwar@gmail.com
1       Dung    Nguyen  dunG.nguyen@gmail.com
2       Ngoc      Tran    ngoc.tran@gmail.com

In [1246]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                  email
0       Phuc    Nguyen    Nowendwar@gmail.com
1       Dung    Nguyen  dunG.nguyen@gmail.com
2       Ngoc      Tran    ngoc.tran@gmail.com

In [1247]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [1248]:
df.loc[2] = ['Bao', 'Tran', 'bao.tran@gmail.com']

In [1249]:
df

  first    last                  email
0  Phuc  Nguyen    Nowendwar@gmail.com
1  Dung  Nguyen  dunG.nguyen@gmail.com
2   Bao    Tran     bao.tran@gmail.com

In [1250]:
df.loc[2, ['last', 'email']] = ['Doan', 'bao.doan@gmail.com']

In [1251]:
df

  first    last                  email
0  Phuc  Nguyen    Nowendwar@gmail.com
1  Dung  Nguyen  dunG.nguyen@gmail.com
2   Bao    Doan     bao.doan@gmail.com

In [1252]:
df.loc[2, 'last'] = 'Nguyen'

In [1253]:
df

  first    last                  email
0  Phuc  Nguyen    Nowendwar@gmail.com
1  Dung  Nguyen  dunG.nguyen@gmail.com
2   Bao  Nguyen     bao.doan@gmail.com

In [1254]:
filt = (df['email'] == 'bao.doan@gmail.com')
df[filt]['email'] = 'bao.nguyen@gmail.com'

C:\Users\NHPHUC\AppData\Local\Temp\ipykernel_17560\1978355043.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['email'] = 'bao.nguyen@gmail.com'

In [1255]:
filt = (df['email'] == 'bao.doan@gmail.com')
df.loc[filt, 'email'] = 'bao.loooooong@gmail.com'

In [1256]:
df

  first    last                    email
0  Phuc  Nguyen      Nowendwar@gmail.com
1  Dung  Nguyen    dunG.nguyen@gmail.com
2   Bao  Nguyen  bao.loooooong@gmail.com

In [1257]:
df['email'].apply(str.lower)

0        nowendwar@gmail.com
1      dung.nguyen@gmail.com
2    bao.loooooong@gmail.com
Name: email, dtype: object

In [1258]:
df['email'] = df['email'].str.lower()

In [1259]:
df['email'] = df['email'].apply(str.lower)

In [1260]:
df

  first    last                    email
0  Phuc  Nguyen      nowendwar@gmail.com
1  Dung  Nguyen    dung.nguyen@gmail.com
2   Bao  Nguyen  bao.loooooong@gmail.com

In [1261]:
def update_email(email):
    return email.upper()

In [1262]:
df['email'].apply(update_email)

0        NOWENDWAR@GMAIL.COM
1      DUNG.NGUYEN@GMAIL.COM
2    BAO.LOOOOOONG@GMAIL.COM
Name: email, dtype: object

In [1263]:
df['email'] = df['email'].apply(update_email)

In [1264]:
df

  first    last                    email
0  Phuc  Nguyen      NOWENDWAR@GMAIL.COM
1  Dung  Nguyen    DUNG.NGUYEN@GMAIL.COM
2   Bao  Nguyen  BAO.LOOOOOONG@GMAIL.COM

In [1265]:
df['email'].apply(len)

0    19
1    21
2    23
Name: email, dtype: int64

In [1266]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [1267]:
df.apply(len, axis='rows')

first    3
last     3
email    3
dtype: int64

In [1268]:
df.apply(pd.Series.max)

first                   Phuc
last                  Nguyen
email    NOWENDWAR@GMAIL.COM
dtype: object

In [1269]:
df.apply(lambda x: x.min())

first                        Bao
last                      Nguyen
email    BAO.LOOOOOONG@GMAIL.COM
dtype: object

In [1270]:
df.applymap(len)

   first  last  email
0      4     6     19
1      4     6     21
2      3     6     23

In [1271]:
df.applymap(str.upper)

  first    last                    email
0  PHUC  NGUYEN      NOWENDWAR@GMAIL.COM
1  DUNG  NGUYEN    DUNG.NGUYEN@GMAIL.COM
2   BAO  NGUYEN  BAO.LOOOOOONG@GMAIL.COM

In [1272]:
df

  first    last                    email
0  Phuc  Nguyen      NOWENDWAR@GMAIL.COM
1  Dung  Nguyen    DUNG.NGUYEN@GMAIL.COM
2   Bao  Nguyen  BAO.LOOOOOONG@GMAIL.COM

In [1273]:
df['first'].map({'Phuc': 'ABC'})

0    ABC
1    NaN
2    NaN
Name: first, dtype: object

In [1274]:
df

  first    last                    email
0  Phuc  Nguyen      NOWENDWAR@GMAIL.COM
1  Dung  Nguyen    DUNG.NGUYEN@GMAIL.COM
2   Bao  Nguyen  BAO.LOOOOOONG@GMAIL.COM

In [1275]:
df['first'].replace({'Phuc': 'ABC'})

0     ABC
1    Dung
2     Bao
Name: first, dtype: object

In [1276]:
df

  first    last                    email
0  Phuc  Nguyen      NOWENDWAR@GMAIL.COM
1  Dung  Nguyen    DUNG.NGUYEN@GMAIL.COM
2   Bao  Nguyen  BAO.LOOOOOONG@GMAIL.COM

In [1277]:
df['first'] + ' ' + df['last']

0    Phuc Nguyen
1    Dung Nguyen
2     Bao Nguyen
dtype: object

In [1278]:
df['full_name'] = df['first'] + ' ' + df['last']

In [1279]:
df

  first    last                    email    full_name
0  Phuc  Nguyen      NOWENDWAR@GMAIL.COM  Phuc Nguyen
1  Dung  Nguyen    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen
2   Bao  Nguyen  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen

In [1280]:
df.drop(columns=['first', 'last'])

                     email    full_name
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen

In [1281]:
df

  first    last                    email    full_name
0  Phuc  Nguyen      NOWENDWAR@GMAIL.COM  Phuc Nguyen
1  Dung  Nguyen    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen
2   Bao  Nguyen  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen

In [1282]:
df.drop(columns=['first', 'last'], inplace=True)

In [1283]:
df

                     email    full_name
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen

In [1284]:
df['full_name'].str.split(' ', expand=True)

      0       1
0  Phuc  Nguyen
1  Dung  Nguyen
2   Bao  Nguyen

In [1285]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)

In [1286]:
df

                     email    full_name first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen  Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen  Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen   Bao  Nguyen

In [1287]:
df.append({'first': 'Tony'}, ignore_index=True)

C:\Users\NHPHUC\AppData\Local\Temp\ipykernel_17560\67547244.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'first': 'Tony'}, ignore_index=True)

                     email    full_name first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen  Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen  Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen   Bao  Nguyen
3                      NaN          NaN  Tony     NaN

In [1288]:
people = {
    "first": ['Tony', 'Steve',],
    "last": ['Stark', 'Rogers', ],
    "email": ['Ironman@gmail.com', 'Cap@gmail.com']
}

df2 = pd.DataFrame(people)

In [1289]:
df2

   first    last              email
0   Tony   Stark  Ironman@gmail.com
1  Steve  Rogers      Cap@gmail.com

In [1290]:
df.append(df2, ignore_index=True)

C:\Users\NHPHUC\AppData\Local\Temp\ipykernel_17560\26416246.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df2, ignore_index=True)

                     email    full_name  first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen   Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen   Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen    Bao  Nguyen
3        Ironman@gmail.com          NaN   Tony   Stark
4            Cap@gmail.com          NaN  Steve  Rogers

In [1291]:
df = df.append(df2, ignore_index=True)
df

C:\Users\NHPHUC\AppData\Local\Temp\ipykernel_17560\2218451989.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

                     email    full_name  first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen   Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen   Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen    Bao  Nguyen
3        Ironman@gmail.com          NaN   Tony   Stark
4            Cap@gmail.com          NaN  Steve  Rogers

In [1292]:
df.drop(index=4)

                     email    full_name first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen  Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen  Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen   Bao  Nguyen
3        Ironman@gmail.com          NaN  Tony   Stark

In [1293]:
df

                     email    full_name  first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen   Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen   Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen    Bao  Nguyen
3        Ironman@gmail.com          NaN   Tony   Stark
4            Cap@gmail.com          NaN  Steve  Rogers

In [1294]:
# filt = df['last'] == 'Nguyen'

# df.drop(index=df[filt].index, inplace=True)

In [1295]:
df

                     email    full_name  first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen   Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen   Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen    Bao  Nguyen
3        Ironman@gmail.com          NaN   Tony   Stark
4            Cap@gmail.com          NaN  Steve  Rogers

In [1296]:
df.sort_values(by=['last'], ascending=True)

                     email    full_name  first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen   Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen   Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen    Bao  Nguyen
4            Cap@gmail.com          NaN  Steve  Rogers
3        Ironman@gmail.com          NaN   Tony   Stark

In [1297]:
df.sort_values(by=['last', 'first'], ascending=True)

                     email    full_name  first    last
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen    Bao  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen   Dung  Nguyen
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen   Phuc  Nguyen
4            Cap@gmail.com          NaN  Steve  Rogers
3        Ironman@gmail.com          NaN   Tony   Stark

In [1298]:
df.sort_values(by=['last', 'first'], ascending=[True, True], inplace=True)

In [1299]:
df

                     email    full_name  first    last
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen    Bao  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen   Dung  Nguyen
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen   Phuc  Nguyen
4            Cap@gmail.com          NaN  Steve  Rogers
3        Ironman@gmail.com          NaN   Tony   Stark

In [1300]:
df.sort_index(inplace=True)

In [1301]:
df

                     email    full_name  first    last
0      NOWENDWAR@GMAIL.COM  Phuc Nguyen   Phuc  Nguyen
1    DUNG.NGUYEN@GMAIL.COM  Dung Nguyen   Dung  Nguyen
2  BAO.LOOOOOONG@GMAIL.COM   Bao Nguyen    Bao  Nguyen
3        Ironman@gmail.com          NaN   Tony   Stark
4            Cap@gmail.com          NaN  Steve  Rogers

In [1302]:
df['last'].sort_values(ascending=False)

3     Stark
4    Rogers
0    Nguyen
1    Nguyen
2    Nguyen
Name: last, dtype: object